body{
    margin: 0;
    padding: 0;
    background-color: white;
}
*{
    font-family: Roboto, sans-serif;
}

header{
    background-image: url('./Airbnb Clone Resource/Picknick.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center; 
    position:relative;
}
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    pointer-events: none;
}

.padding80{
    padding: 0 80px;
}
#welcome{
    padding: 20px 40px;
    margin: auto auto;
    background:#000000;
    text-align: center;  
}
#welcome >:link, #welcome >:visited{
    color: #DDDDDD;
    text-decoration: underline;
}
.nav_bar_container{
    display: flex;
    height: 80px;
    place-items: center;
    
}
.left_bar{
    height: 80px;
    flex:1;
    display: flex;
    align-items: center;
}
.AirbnbLogo:nth-child(1){
    font-weight: bold;
    font-size: 22px;
}
.left_bar>div>a:link, .left_bar>div>a:visited{
    color: white;
    text-decoration:none;
}
.nav>*{
    padding: 10px;
}
.center_bar>a:link, .center_bar>a:visited{
    color: white;
    text-decoration:none;
}
.center_bar{
    display: block;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    width:45%;
}

.center_bar > a:nth-child(-n+3):hover{
    text-decoration: underline white;
    text-underline-offset: 10px;
}

.right_bar{
    height: 80px;
    display: flex;
    align-items: center;
}
.right_bar>a:nth-child(1):hover{
    background-color: rgba(255, 255, 255, 0.264) !important;
    border-radius: 100px;
}
.WorldIcon:hover{
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.264) !important;
    border-radius: 50%;
}
.right_bar>a:link, .right_bar>a:visited{
    color: white;
    text-decoration:none;
}
#profile_menu{
    position: relative;
    width: 77px;
    height: 42px;
    border-radius: 110px;
    border: 0;
    top: 7px;
}
button{
    cursor: pointer;
}
.SearchInput{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    height: 66px;
    width: 850px;
    background-color: white;
    margin: auto;
    border-radius: 110px;
}
.SearchInput >div> a:link, .SearchInput >div> a:visited {
    text-decoration: none;
    color: #000000;
}
.SearchInput>div:nth-child(1){
    width: 37%;
    margin: auto;
    border-right: 1px solid #dadada;
    padding-left: 20px;
}

.SearchInput>div:nth-child(1):hover{
    width: 40%;
    height: 95%;
    background-color: rgba(164, 162, 162, 0.508);
    border-radius: 110px;
    margin:0px 15px;
    padding:  0 15px;
    
}
.SearchInput>div:nth-child(-n+4){
    font-size: 14px;
    display: flex;
    text-align: left;
    align-items: center;
    margin:0px 15px;
    padding:  0 15px;
}
.SearchInput>div:nth-child(n+2):nth-child(-n+4):hover{
    width: 30%;
    height: 95%;
    background-color: rgba(164, 162, 162, 0.508);
    border-radius: 110px;
    margin: -10px 0px; 
    padding:  0 15px;
}
input[type="text"],input[type="number"]{
    font-size: 13px;
    border:none;
    padding:none;
    background-color: transparent;
}

.SearchInput>div{
    height: 38.5px;
    width: 256.234px;
    font-size: 16px;
    border-right: 1px solid #dadada;
}

.SearchIcon{
    padding:10px;
    margin-right:10px;
    background-color: #fa215b;
    border-radius: 50%;
    cursor: pointer;
}
.hero_text{
    display: flex;
    width: 100%;
    height: 625px;
    flex-direction: column;
    justify-content: center;
}
.hero_text>span{
    width: 400px;
    color: white;
    font-size: 58px;
    font-weight: bold;
}
.hero_text>button{
    width: 155px;
    height: 32px;
    font-size: 13.33px;
    font-weight: 700;
    border-radius: 10px;
    border: 0;
    padding: 8px;
    margin-top: 15px;
}
section.padding80.margin50{
    margin: 50px 0;
    padding: 0 80px;
}
.margin50{
    margin: 50px, 0;
}
.padding80{
    padding: 0 80px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
.cities>a{
    margin-top:15px;
}
.cities li{
    display: flex;
}
.quarter>*{
    width: 25%;
    padding-right: 13px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.cities li>span{
    place-self:center;
}
/* .DestinationsRecommended{
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
    justify-content: start;
    align-items: start;
    width: 981px;
    height: 106px;
    padding: 0;
    margin: 10px 0;
}

.DestinationsRecommended>a{
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    margin-top: 15px;
    padding-right: 13px;
} */

.img07 img{
    width: 70px;
    height: 36px;
    border-radius: 10px;
}
/* .DestinationsRecommended>li{
    margin: 0 0;
}
.DestinationsRecommended li{
    display: flex;
    text-align:left;
    justify-items: space-between;
    justify-content: start;
    align-items: center;
    margin-right: 20px;
    list-style-position: outside;
    list-style-type: none;
    cursor: pointer;
} */
.DestinationsRecommended li>span{
    align-self: center;
    margin-left:15px;

}
li>span>*{
    display: block;
   
}

.font32{
    font-size: 32px;
}
.font14{
    font-size: 14px;
}
.font18{
    font-size: 18px;
}

ul{
    padding: 0;
}
a:link,a:visited{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
img:nth-child(-n+4){
    border-radius: 10px;
}
.black-background{
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    color: white;
}
.black-background *{
    color:white;
}
.padding5080{
    padding:50px 80px;
}
b{
    font-weight: bolder;
}
ul.items.third { 
    display: flex; 
    flex-wrap: wrap; 
    margin: 10px 0;
}
.gray-border-top{
    border-top: 1px solid #DDDDDD;
}
.gray-background{
    background:#F7F7F7;
}
footer ul>b{
    font-size: 15px;
}
footer ul>li{
    font-size: 14px;
}
footer ul>*{
    margin-top: 10px;
}
.last_footer{
    display: flex;
    margin-bottom: 20px;
}
.last_footer>div:nth-child(1){
    width: 50%;
    text-align-last: left;
}
.lst_footer>div{
    width: 25%;
    text-align-last: right;
}